.title{
  @include font();
  margin-bottom: rem(20px);
  font-size: rem(38px);
  color: #000000;
}

.desc{
  @include font(reg);
  font-size: rem(18px);
  color: $desc-color;
}

.btn{
  @include font();
  display: inline-block;
  font-size: rem(12px);
  text-transform: uppercase;
  background: #000000;
  transition: all .3s;
  &:hover{
    background: $accentcolor;
  }
  &:active{
    transform: scale(.97);
  }
}

.btn__link{
  display: block;
  padding: rem(20px) rem(45px);
  color: #ffffff;
  transition: all .3s;
}