.section {
  background: $bg-color;
  text-align: center;
}

.title {
  @include font();
  margin-bottom: rem(20px);
  font-size: rem(30px);
  color: $title;
}

.desc {
  @include font(reg);
  font-size: rem(18px);
  color: $desc-color;
}

.btn {
  @include font();
  @include trans();
  display: block;
  padding: rem(20px) rem(45px);
  text-transform: uppercase;
  font-size: rem(12px);
  color: $bg-color;
  background: $title;

  &:hover {
    background: $accentcolor;
  }

  &:active {
    transform: scale(.98);
  }
}
