.section {
  background: $bg-color;
  text-align: center;
}

.main {
  .container {
    position: relative;
  }
}

.text-wrapper {
  padding: rem(120px) 0;

  .desc {
    max-width: rem(520px);
    margin: auto;
  }
}

.title {
  @include font();
  margin-bottom: rem(20px);
  font-size: rem(30px);
  color: $title;
}

.desc {
  @include font(reg);
  font-size: rem(18px);
  color: $desc-color;

  p {
    padding-bottom: rem(20px);

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.btn {
  @include font();
  @include trans();
  display: block;
  padding: rem(20px) rem(45px);
  text-transform: uppercase;
  font-size: rem(12px);
  color: $bg-color;
  background: $title;

  &:hover {
    background: $accentcolor;
  }

  &:active {
    transform: scale(.98);
  }
}

.btn_color {
  padding: rem(20px) rem(35px);
  outline: none;
  border: none;
  color: $bg-color;
  background: $accentcolor;
  cursor: pointer;

  &:hover {
    background: $title;
  }
}

.list__item {
  @include font(reg);
  padding-bottom: rem(15px);
  font-size: rem(16px);
  color: $desc-color;

  &:last-child {
    padding-bottom: 0;
  }

  span {
    &:first-child {
      @include font(medium);
      margin-right: rem(5px);
      color: $title;
    }

    a {
      @include trans();
      color: $accentcolor;

      &:hover {
        color: $title;
      }

      &:active {
        color: rgba($title, .5);
      }
    }
  }
}
