<div class="numbers">
    <div class="container">
        <ul class="numbers__list">
            <li class="numbers__item">
                <div class="numbers__icon">
                    <svg class="numbers__svg">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#portfolio"></use>
                    </svg>
                </div>
                <div class="numbers__text">
                    <div class="numbers__total">548</div>
                    <div class="numbers__desc">Projects completed</div>
                </div>
            </li>
            <li class="numbers__item">
                <div class="numbers__icon">
                    <svg class="numbers__svg">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#clock"></use>
                    </svg>
                </div>
                <div class="numbers__text">
                    <div class="numbers__total">1465</div>
                    <div class="numbers__desc">Working Hours</div>
                </div>
            </li>
            <li class="numbers__item">
                <div class="numbers__icon">
                    <svg class="numbers__svg">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#star"></use>
                    </svg>
                </div>
                <div class="numbers__text">
                    <div class="numbers__total">612</div>
                    <div class="numbers__desc">Posititve feedbacks</div>
                </div>
            </li>
            <li class="numbers__item">
                <div class="numbers__icon">
                    <svg class="numbers__svg">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#like"></use>
                    </svg>
                </div>
                <div class="numbers__text">
                    <div class="numbers__total">735</div>
                    <div class="numbers__desc">Happy clients</div>
                </div>
            </li>
        </ul>
    </div>
</div>