<footer class="footer">
    <div class="container">
        <div class="footer__copyright">
            <h2 class="title">Piroll Design, Inc.</h2>
            <p>
                |   © 2017 Piroll. All rights reserved.
                |   Designed by robirurk.
            </p>
        </div>
        <ul class="footer__contacts">
            <li class="contacts__item">
                <a href="mailto:hello@pirolltheme.com" class="contacts__link">
                    |   hello@pirolltheme.com
                </a>
            </li>
            <li class="contacts__item">
                <a href="tel: +44987065908" class="contacts__link">
                    |   +44 987 065 908
                </a>
            </li>
        </ul>
        <div class="footer__menu">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">Projects</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Services</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Career</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">News</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Events</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Contact</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Legals</a>
                </li>
            </ul>
        </div>
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link">Facebook</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Twitter</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Instagram</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Dribble</a>
            </li>
        </ul>
    </div>
</footer>