<form action="#" method="get" class="form">
    <div class="input-wrapper">
        <input name="yourName" class="input" type="text" placeholder="Your Name">
        <input data-validation="email" name="yourEmail" class="input" type="email" placeholder="Your Email">
    </div>
    <input data-validation="length" data-validation-length="min4" class="input" type="text" placeholder="Your Title">
    <textarea name="yourComment" class="input" placeholder="Your Comment"></textarea>
    <button class="btn btn_color" type="submit">Send Message</button>
</form>