<header class="header header_padding-margin">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="assets/img/logo/logo.png" alt="Logo">
        </a>
        <nav class="nav">
            block tabs
        </nav>
    </div>
</header>