<header class="header">
    <a href="#" class="logo">
        <img src="assets/img/logo/logo.png" alt="Logo">
    </a>
    <nav class="nav">
        <a href="home.html" class="nav__link active">Home</a>
        <a href="#" class="nav__link">About</a>
        <a href="#" class="nav__link">Work</a>
        <a href="#" class="nav__link">Process</a>
        <a href="#" class="nav__link">Services</a>
        <a href="#" class="nav__link">Testimonials</a>
        <a href="#" class="nav__link">Contact</a>
    </nav>
</header>