<header class="header header_padding-margin">
    <div class="container">
        <a href="#" class="logo">
            <img src="assets/img/logo/logo.png" alt="Logo">
        </a>
        <nav class="nav">
            <a href="#" class="nav__link active">Home</a>
            <a href="#" class="nav__link">About</a>
            <a href="#" class="nav__link">Contact</a>
        </nav>
    </div>
</header>