//----------------------<<text>>----------------------\\
.about__text {
  padding: rem(90px) 0;
}

.about__text-content {
  display: inline-block;
  max-width: rem(590px);

  .desc {
    margin-bottom: rem(30px);
    font-size: rem(16px);
  }

  img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }
}

//----------------------<<skills>>----------------------\\
.about__skills {
  position: relative;
  background: $prosbg;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/bg/bg-about-skills.jpg") bottom no-repeat;
  background-size: cover;
}

.about__skills-content {
  width: 50%;
  padding: rem(90px) 0;
}

.skills-wrapper {
  display: inline-block;
  width: 80%;
  text-align: left;

  .title {
    position: relative;
    z-index: 1;
  }
}

.skills__item {
  @include font();
  position: relative;
  margin-bottom: rem(20px);
  font-size: rem(12px);
  color: $title;

  &:last-child {
    margin-bottom: 0;
  }
}

.skills__text {
  padding: rem(20px) 0;
}

.skills__name {
  margin-right: rem(20px);
  text-transform: uppercase;
}

.skills__value {
  &:after {
    content: "%";
  }
}

.skills__progress {
  width: 100%;
  height: 3px;
  background-color: $skillsbarbg;

  div {
    height: 3px;
    background-color: $accentcolor;
  }
}

//----------------------<<portfolio>>----------------------\\
.portfolio__svg {
  @include trans();
  display: block;
  width: rem(80px);
  height: rem(80px);
  fill: #ffffff;

  &:hover {
    fill: $accentcolor;
  }
}

.portfolio__svg_size {
  width: rem(50px);
  height: rem(40px);
}

.portfolio__svg-moreBtn {
  @include trans();
  display: inline-block;
  vertical-align: middle;
  padding-bottom: rem(3px);
  width: rem(25px);
  height: rem(25px);
  fill: #8e8e8e;
}
