.opinions {
  background: $accentcolor;
}

.slide__inner {
  @include font(bold);
  width: rem(850px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $bg-color;

  p {
    padding-bottom: rem(35px);
    font-size: rem(24px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-size: rem(12px);
  }
}
