.video {
  padding: rem(90px) 0;

  .desc {
    max-width: rem(500px);
    margin: 0 auto rem(55px);
  }

  iframe {
    width: 100%;
    height: rem(500px);
  }
}

.pros {
  padding: rem(100px) 0 rem(40px);
  background: $prosbg;
}

.pros__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.pros__item {
  @include trans();
  max-width: rem(250px);
  margin-bottom: rem(60px);

  .title {
    margin-bottom: rem(10px);
    font-size: rem(12px);
  }

  .desc {
    font-size: rem(16px);
  }

  &:hover {
    transform: rotate(-15deg);
  }
}

.pros__svg {
  width: rem(42px);
  height: rem(42px);
  margin-bottom: rem(10px);
  fill: $prossvg;
}

.opinions {
  background: $accentcolor;
}

.slide__inner {
  @include font(bold);
  width: rem(850px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $bg-color;

  p {
    padding-bottom: rem(35px);
    font-size: rem(24px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-size: rem(12px);
  }
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: rem(60px) 0;
}

.logos__link {
  @include trans(1s);
  display: block;
  max-width: rem(130px);

  &:hover {
    transform: rotate(360deg);
  }

  img {
    @extend %img;
  }
}
