.project {
  background: $prosbg;

  .container {
    .desc {
      max-width: rem(600px);
      padding-bottom: rem(35px);
      margin: auto;
    }
  }
}

.form-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(700px);
  margin: auto;

  .btn {
    padding: rem(20px) rem(35px);
    margin-bottom: rem(20px);
    outline: none;
    border: none;
    color: $bg-color;
    background: $accentcolor;
    cursor: pointer;

    &:hover {
      background: $title;
    }
  }

  textarea {
    min-height: rem(200px);
  }
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .project__input {
    width: 48%;
  }
}

.project__input {
  @include font(reg);
  @include trans();
  display: block;
  width: 100%;
  padding: rem(20px);
  margin-bottom: rem(30px);
  font-size: rem(15px);
  outline: none;
  border: 1px solid transparent;
  color: $desc-color;
  background: $bg-color;

  &:focus {
    border-color: $accentcolor;
  }
}
