<!DOCTYPE html>
<html lang="en">
include includes/head
<body>
<div class="wrapper">
    include includes/header
    <section class="section author">
        <div class="container">
            <div class="text-wrapper">
                <h1 class="title">Amelia Woods</h1>
                <div class="desc">
                    <p>
                        |   I am a Graphic & Web Designer based in New York, specializing
                        |   in User Interface Design and Development.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        include includes/about numbers
    </section>
    <section class="section aboutme">
        <div class="container">
            <div class="aboutme__bg">
                <img src="assets/img/about-page/author2.jpg" alt="Author">
            </div>
            <div class="aboutme__text-wrapper">
                <div class="aboutme__text">
                    <h2 class="title">About me</h2>
                    <div class="desc">
                        <p>
                            |   Given let waters air sea had you'll, may seed abundantly fish.
                            |   Were, you'll earth forth winged above brought. Own darkness
                            |   they're him can't fourth sea place have.
                        </p>
                        <p>
                            |   So the above May stars cattle fruitful face shall. Tree it, winged.
                            |   Every signs male firmament us. Morning him.
                        </p>
                    </div>
                    <img src="assets/img/sections/about/signature.png" alt="Signature">
                </div>
            </div>
        </div>
    </section>
    <section class="section lets-talk">
        <div class="container">
            <h2 class="title">Need a Project?</h2>
            <div class="desc">
                <p>
                    |   Let us know what you're looking for in an agency. We'll take a look and see
                    |   if this could be the start of something beautiful.
                </p>
            </div>
            <a href="/#fourth" class="btn btn_color">Let's Talk</a>
        </div>
    </section>
</div>
include includes/footer

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->

</body>
</html>