<!DOCTYPE html>
<html lang="en">
include includes/head
<body>
<div class="wrapper">
    include includes/header
    <section class="section author">
        <div class="container">
            <div class="text-wrapper">
                <h1 class="title">Amelia Woods</h1>
                <p class="desc">
                    |   I am a Graphic & Web Designer based in New York, specializing
                    |   in User Interface Design and Development.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        include includes/about numbers
    </section>
    <section class="section"></section>
    <section class="section"></section>
</div>
include includes/footer

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->

</body>
</html>