<!DOCTYPE html>
<html lang="en">
include includes/head
<body>
<div class="wrapper">
    include includes/header
    <main class="main">
        <div class="main__text-wrapper">
            <div class="container">
                <div class="main__text">
                    <h1 class="title">UI/UX &amp; Graphic Designer</h1>
                    <p class="desc">
                        |   I am a Graphic & Web Designer based in New York, specializing
                        |   in User Interface Design and Development.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ul class="home-portfolio">
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio1.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio2.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio3.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio4.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>

                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio1.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio2.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio3.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio4.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>

                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio1.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio2.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio3.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
                <li class="home-portfolio__item">
                    <a href="project.html" target="_blank" class="home-portfolio__link">
                        <img src="assets/img/portfolio/portfolio4.jpg" alt="Project">
                        <svg class="home-portfolio__svg">
                            <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </main>
</div>
include includes/footer

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->

</body>
</html>