<!DOCTYPE html>
<html lang="en">
include includes/head
<body>
<div class="wrapper">
    include includes/header
    <main class="main">
        <div class="container">
            <div class="preview">
                <div class="preview__text">
                    <h1 class="title">Light Breakfast</h1>
                    <div class="desc">
                        <p>
                            |   Light his can't a creeping. Be, bring blessed night. Replenish
                            |   blessed creature good. Saw earth every creepeth lights day,
                            |   divided abundantly form. In. Said given lights. Sixth the male.
                            |   Upon their multiply. Kind beast. Him tree upon.
                        </p>
                        <p>
                            |   Cattle. Dominion day herb she'd creeping divide darkness.
                            |   Which. Subdue had.
                        </p>
                    </div>
                    <ul class="preview__info">
                        <li class="preview__item">
                            <span>Client:</span>
                            <span>Emma Morris</span>
                        </li>
                        <li class="preview__item">
                            <span>Date:</span>
                            <span>25.06.2017</span>
                        </li>
                        <li class="preview__item">
                            <span>Share:</span>
                            <span><a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Pinterest</a></span>
                        </li>
                    </ul>
                </div>
                <div class="preview__bg"></div>
            </div>
            <div class="controls">
                <a href="#" class="controls__prev">
                    <svg class="controls__svg controls__svg_mr">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#prev"></use>
                    </svg>
                    <span>Previous Project</span>
                </a>
                <div class="menu-switch">
                    <svg id="menuBtn" class="controls__menu-btn show-btn">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#menu"></use>
                    </svg>
                    <svg id="hideBtn" class="controls__menu-btn hide-btn">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#close"></use>
                    </svg>
                </div>
                <a href="#" class="controls__next">
                    <span>Next Project</span>
                    <svg class="controls__svg controls__svg_ml">
                        <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#next"></use>
                    </svg>
                </a>
            </div>
            <div class="project-menu">
                <ul class="home-portfolio">
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio1.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio2.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio3.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio4.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio1.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio2.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio3.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio4.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio1.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio2.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio3.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-portfolio__item">
                        <a href="#" class="home-portfolio__link">
                            <img src="assets/img/portfolio/portfolio4.jpg" alt="Project">
                            <svg class="home-portfolio__svg">
                                <use xlink:href="assets/img/svg/sprite/svg-sprite.svg#look"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
include includes/footer

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->

</body>
</html>