.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: rem(200px);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header_padding-margin {
  padding: rem(35px) 0;
  margin: 0;
}

.logo {
  @include trans();
  position: relative;
  display: block;

  &:hover {
    transform: rotate(15deg);
  }

  &:active {
    transform: none;
  }

  img {
    @extend %img;
  }
}

.nav {
  display: flex;

  .active {
    color: $accentcolor;
  }
}

.nav__link {
  @include font();
  @include trans();
  display: block;
  margin-right: rem(30px);
  text-transform: uppercase;
  font-size: rem(12px);
  color: $title;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: rotate(15deg);
  }

  &:active {
    transform: none;
  }
}
